<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <display-name>projectdemo2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddbatchServlet</display-name>
    <servlet-name>AddbatchServlet</servlet-name>
    <servlet-class>AddbatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddbatchServlet</servlet-name>
    <url-pattern>/AddbatchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Studentqueryservlet</display-name>
    <servlet-name>Studentqueryservlet</servlet-name>
    <servlet-class>Studentqueryservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentqueryservlet</servlet-name>
    <url-pattern>/Studentqueryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDemo2Servlet</display-name>
    <servlet-name>StudentDemo2Servlet</servlet-name>
    <servlet-class>StudentDemo2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDemo2Servlet</servlet-name>
    <url-pattern>/StudentDemo2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editstudentservlet</display-name>
    <servlet-name>Editstudentservlet</servlet-name>
    <servlet-class>Editstudentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editstudentservlet</servlet-name>
    <url-pattern>/Editstudentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletestudentservlet</display-name>
    <servlet-name>Deletestudentservlet</servlet-name>
    <servlet-class>Deletestudentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletestudentservlet</servlet-name>
    <url-pattern>/Deletestudentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editbatchservlet</display-name>
    <servlet-name>Editbatchservlet</servlet-name>
    <servlet-class>Editbatchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editbatchservlet</servlet-name>
    <url-pattern>/Editbatchservlet</url-pattern>
  </servlet-mapping>
</web-app>